@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #040a16;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header{
    width: 100%;
    height:200px;
    background-color: #a6daf7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;

}
.mascotCody img{
    width: 250px;
    height: auto;
}

.mascotCody{
    margin-right: 20px;
}

.logo img{
    width: 250px;
    height: auto;
}

.logo{
    margin-left: 20px;
}

/* Style for the Interactive Cody Box */
/* Version 1.0 */

.cody-box{
    width: 90%;
    max-width: 800px;
    margin: 50px auto;

    background-color: #1a1b1e; /* --- */
    border: 1px solid #cde3ff;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.box-header{
    padding: 20px;
    border-bottom: 1px solid #cde3ff;
    background-color: #0d0d1b;
}

.box-header h1{
    color: #0190fd;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-optical-sizing: auto;
    margin-bottom: 10px;
    font-size: 2rem;
}

.box-header p{
    color: #ffffff;
    font-size: 0.9rem;
}

.code-editor #c-code{
    width: 100%;
    height: 300px;
    padding: 15px;
    border: none;
    outline: none;
    resize: vertical;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-size: 0.9rem;
    background-color: #0f0e0e;
    color: #ffffff;

}

.box-controls{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: #0e0c0c;
}

#run-button{
    background-color: #0190fd;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#run-button:hover{
    background-color: #2585ce;
}

.output-console{
    background-color: #0d0d1b;
    padding: 20px;
    min-height: 100px;
    border-top: 1px solid #cde3ff;

}

#output{
    font-family: "JetBrains Mono", monospace;
    color: #dad8d8;
    white-space: pre-wrap;
    margin: 0;
}

footer{
    width: 100%;
    height:100px;
    background-color: #2585ce;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}